// als class begint en eindigt met...
div[class^="rbd-"][class*="-dr"] {
  background: black;
}

.drawer {
  // margin: 0 40em 0 40em;
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }
}
