@import "../../theme/include-media";
@import "../../theme/colors.scss";

// als class begint en eindigt met...
div[class^="rbd-"][class*="-dr"] {
  background: black;
}

.drawer {
  @include media(">=desktop") {
    margin: 0 20em 0 20em;
  }

  &__slider {
    &--mobile {
      & img {
        width: 100%;
        max-height: 40vh;
        object-fit: fill;
      }
      @include media("<desktop") {
        display: inline-flex;
      }
      @include media(">desktop") {
        display: none;
      }
    }

    &--desktop {
      & img {
        width: 100%;
        max-height: 40vh;
        object-fit: fill;
      }
      @include media(">=desktop") {
        display: inline-flex;
      }
      @include media("<desktop") {
        display: 0;
      }
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }

  &__likes p {
    // font-size: 0.8em;
    opacity: 0.8;
  }
}

.swiper-pagination-bullet-active {
  background: #caf53e !important;
}
