@import "../../theme/colors.scss";

.login-page {
  width: 100vw;
  height: 100vh;
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    background-color: #16181d;
    color: white;
  }

  &__header {
    font-weight: bold;
    margin-top: 3em;

    & h2 {
      font-size: 2em;
    }

    & span {
      color: $primary-color;
    }
  }

  &__inputs {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    & button {
      color: black;
      width: 100%;
      background-color: $primary-color;
      border-radius: 5px;
      height: 3em;
    }

    & input {
      background-color: #16181d;
      width: 100%;
      border-radius: 5px;
      height: 3em;
      border: 1px solid rgba(255, 255, 255, 0.212);
      outline: none;
      margin: 0.2em 0 0.2em 0;
    }
  }
}
