@import "../../theme/include-media";

ion-content {
  --ion-background-color: #161616;
}

.profile-page {
  color: white;
  margin: 0 1em 0 1em;
  @include media(">=desktop") {
    margin: 0 40em 0 40em;
  }
  &__empty {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

    & img {
      width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
