.gmnoprint {
  display: none !important;
}

.gm-style-cc {
  display: none;
}

.map {
  transform-style: preserve-3d;
  transform: perspective(500px) translateZ(-30vw) scale(1.4);
  perspective: 1000;
}
