@import "../../theme/colors.scss";

.login-page {
  width: 100vw;
  input[type="email"],
  input[type="password"] {
    background-color: #16181d;
    color: white;
  }

  &__inputs {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
      color: black;
      width: 100%;
      background-color: $primary-color;
      border-radius: 5px;
      height: 3em;
    }

    & input {
      width: 100%;
      border-radius: 5px;
      height: 3em;
      border: 1px solid rgba(255, 255, 255, 0.212);
      outline: none;
      margin: 0.2em 0 0.2em 0;
    }

    & input:focus {
    }

    &--login {
    }

    &--password {
    }

    &--button {
    }
  }
}
