@import "../../theme/colors.scss";

ion-content {
  --ion-background-color: #161616;
}

.side-hr {
  width: 50%;
  text-align: right;
  margin-right: 0;
  height: 2px;
  background-color: #3a3a3a;
}

.main-hr {
  margin: 1em 1em 0 0;
  height: 2px;
  background-color: #3a3a3a;
}

.deals-page {
  margin: 0 1em 0 1em;

  &__coming-soon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

    & img {
      width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
